body {
  background-color: #03001c;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  color: #b6eada;
  text-align: center;
}

#recipe {
  margin: 0 auto;
  max-width: 50rem;
}

.recipe {
  background-color: #5b8fb9;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  color: #03001c;
  transition: scale 100ms;
}

.recipe:hover {
  outline: 3px solid #b6eada;
  scale: 1.05;
  cursor: pointer;
}
#recipe2 {
  margin: 0 auto;
  max-width: 50rem;
}

.recipe2 {
  background-color: #5b8fb9;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  color: #03001c;
  transition: scale 100ms;
}

.recipe2:hover {
  outline: 3px solid #b6eada;
  scale: 1.05;
  cursor: pointer;
}

#movie {
  margin: 0 auto;
  max-width: 50rem;
}

.movie {
  background-color: #5b8fb9;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  color: #03001c;
  transition: scale 100ms;
}

.movie:hover {
  outline: 3px solid #b6eada;
  scale: 1.05;
  cursor: pointer;
}
